<div>
	<h1>指定したページは存在しません</h1>
	<span class="year" style="font-size:24px;"><%= search_date.year %></span>年
	<span class="month" style="font-size:24px;"><%= search_date.month %></span>月
	<span class="day" style="font-size:24px;"><%= search_date.day %></span>日
	の人気動画はまだ作成されていません。
</div>

<%= link_to 'トップページに戻る', root_path %>