@mixin background-gray {
	color: #71767a;
	background-color: #f4f5f7;
	border: 1px solid #e6e7e8;
	border-bottom-width: 3px;
	padding: 12px 12px 0;
	border-top: 0
}

@mixin container-padding-top {
	padding-top: 80px;
}
