// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

$movie-wrapper-min-height: 150px;
$movie-wrapper-min-width: 200px;

#movies-container {
	@include container-padding-top;
}


#movies {
	.mix{
	    opacity: 0;
	    display: none;
	}
}

.movie-list {
	list-style-type: none;
	height: 215px;
	margin-bottom: 10px;
}

.data {
	min-height: $movie-wrapper-min-height;
	min-width: $movie-wrapper-min-width;
}

.movie-img {
	width: 250px;
	height: 150px;
}

.detail-box {
	@include background-gray;
}

.title {
	color: #333;
	font-weight: bold;
	word-wrap: break-word;
}

.navbar-gray {
	@include background-gray;
}

