<li class="col-md-3 movie-list" style="margin-bottom: 10px;">
	<%=link_to(movie_path(movie.id)) do %>
		<div class="data">
			<%= image_tag movie.thumbnail,{ class: "img-responsive movie-img"} %>
			<div class="detail-box">
				<div class="title">
					<p><%= movie.title%></p>
				</div>
			</div>
		</div>
	<% end %>
</li>
<%# TODO: サムネイルの高さをそろえるjQueryの何かをいれる %>
<%# TODO: linkにホバーしたときの下線は消す %>